<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true"
         bootstrap="Tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="true"

         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <testsuite name="MSFBundle">
        <directory>./Tests</directory>
    </testsuite>
    <php>
        <server name="KERNEL_DIR" value="Tests/Fixtures/app/" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php" >./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./DependencyInjection</directory>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./Resources</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage" lowUpperBound="10"
         highLowerBound="45"/>
    </logging>
</phpunit>