{% extends 'base.html.twig' %}

{% block body %}
    {% if form is defined %}
        <h1>{{ title }}</h1>
        <div class="jumbotron">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <!--{ { form_row(form.msf_cancel_action) }}-->
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}